spring:
  application:
    name: fitcrm-security-service

  datasource:
    url: jdbc:postgresql://localhost:5432/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
    show-sql: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  management:
    endpoints:
      web:
        exposure:
          include: health,info,metrics
    endpoint:
      health:
        show-details: always

security:
  jwt:
    encryption-secret: ${JWT_ENCRYPTION_SECRET}
    access-expiration-ms: 900000      # 15 минут
    refresh-expiration-ms: 2592000000 # 30 дней

server:
  port: 8082

user-service:
  url: http://localhost:8081
